<div class="container" scrollbar="scrollbar-macosx">
<div class="about">
    <header class="title">
        <h2>About Me</h2>
    </header>
    <div class="editor-container">
        <div class="editor" scrollbar="scrollbar-macosx" auto-scroll="true">
            <p class="editor-text" editor></p>
        </div>
    </div>
    <ul class="contact">
        <li>
            <a href="mailto:chrispan.pt@gmail.com"><i class="fa fa-envelope"></i>chrispan.pt@gmail.com</a>
        </li>
        <li>
            <a href="https://github.com/panteng" target="_blank"><i class="fa fa-github"></i>github.com/panteng</a>
        </li>
        <li>
            <a href="https://twitter.com/chrispan_pt" target="_blank"><i class="fa fa-twitter"></i>twitter.com/chrispan_pt</a>
        </li>
        <li>
            <a href="https://www.instagram.com/chrispan_pt" target="_blank"><i class="fa fa-instagram"></i>instagram.com/chrispan_pt</a>
        </li>
        <li>
            <a href="https://linkedin.com/in/chrispan-pt" target="_blank"><i class="fa fa-linkedin"></i>linkedin.com/in/chrispan-pt</a>
        </li>
    </ul>
    <ul class="profile">
        <li>
            <i class="fa fa-map"></i>Amsterdam
        </li>
        <li>
            <a href="http://booking.com" target="_blank"><i class="fa fa-group"></i>Booking.com</a>
        </li>
        <li>
            <a href="http://www.xmu.edu.cn" target="_blank"><i class="fa fa-university"></i>Xiamen University</a>
        </li>
    </ul>
</div>
</div>
