<div class="container" scrollbar="scrollbar-macosx">
<div class="about">
    <header class="title">
        <h2>About Me</h2>
    </header>
    <div class="editor-container">
        <div class="editor" scrollbar="scrollbar-macosx" auto-scroll="true">
            <p class="editor-text" editor></p>
        </div>
    </div>
    <ul class="contact">
        <li>
            <a href=""><i class="fa fa-envelope"></i>jane.doe@email.com</a>
        </li>
        <li>
            <a href="" target="_blank"><i class="fa fa-github"></i>github.com/janedoe</a>
        </li>
        <li>
            <a href="" target="_blank"><i class="fa fa-twitter"></i>twitter.com/janedoe</a>
        </li>
        <li>
            <a href="" target="_blank"><i class="fa fa-instagram"></i>instagram.com/janedoe</a>
        </li>
        <li>
            <a href="" target="_blank"><i class="fa fa-linkedin"></i>linkedin.com/in/janedoe</a>
        </li>
    </ul>
    <ul class="profile">
        <li>
            <i class="fa fa-map"></i>New York
        </li>
        <li>
            <a href="" target="_blank"><i class="fa fa-group"></i>X Studio</a>
        </li>
        <li>
            <a href="" target="_blank"><i class="fa fa-university"></i>X University</a>
        </li>
    </ul>
</div>
</div>
