@charset "UTF-8";

.about {
    min-height: 100%;
    background-color: #ecf1f1;
    padding: 3rem 4rem;
    @include clearFix();
    .title {
        h2 {
            margin: 0;
            text-align: center;
            color: #666;
            font-size: 2.5rem;
            line-height: 2.5rem;
        }
    }
    .editor-container {
        margin-top: 4rem;
        padding: 0.6rem 0.3rem 0.6rem 0.6rem;
        border-radius: 0.35rem;
        background-color: #333;
        .editor {
            display: block;
            height: 20rem;
            overflow: auto;
            font-family: 'Microsoft YaHei', sans-serif;
            font-size: 1rem;
            .editor-text {
                display: inline;
                color: $pink;
                white-space: pre;
            }
            .typed-cursor {
                color: $pink;
                opacity: 1;
                animation: blink 1s infinite;
            }
        }
    }
    .contact, .profile {
        float: left;
        width: 50%;
        color: #888;
        font-size: 1.4rem;
        margin-top: 2rem;
        li {
            line-height: 3rem;
            a {
                transition: all 400ms;
                &:hover {
                    color: $green;
                }
            }
            i {
                margin-right: 1rem;
            }
        }
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media all and (max-width: 1024px) {
    .about {
        padding: 2rem 1rem;
    }
}

@media all and (max-width: 480px) {
    .about {
        .contact, .profile {
            width: 100%;
        }
    } 
}