@charset "UTF-8";

* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
}

@media all and (max-width: 640px) {
    html {
        font-size: 12px;
    }
}

body {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

::selection {
    background-color: $green;
    color: #fff;
}
