<div class="container" scrollbar="scrollbar-macosx">
    <div class="home">
        <div class="banner">
            <div class="content">
                <header>
                    <h2>THIS IS <strong>ANGULAR PROLOGUE</strong></h2>
                    <p>
                        A responsive portfolio template.<br>
                        All information presented in this template is for demo purpose only.
                    </p>
                </header>
            </div>
        </div>

        <div class="circles">
            <ul class="ch-grid">
                <li>
                    <div class="ch-item ch-react">
                        <div class="ch-info">
                            <h3>React</h3>
                            <p>Some text to show off my React sklls.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-vuejs">
                        <div class="ch-info">
                            <h3>Vue.js</h3>
                            <p>Some text to show off my Vue.js sklls.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-webpack">
                        <div class="ch-info">
                            <h3>webpack</h3>
                            <p>Some text to show off my webpack sklls.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-es6">
                        <div class="ch-info">
                            <h3>ES 6</h3>
                            <p>Some text to show off my ES 6 sklls.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-sass">
                        <div class="ch-info">
                            <h3>Sass</h3>
                            <p>Some text to show off my Sass sklls.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-vscode">
                        <div class="ch-info">
                            <h3>VS Code</h3>
                            <p>Some text to show off my VS Code sklls.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <footer class="page-footer">
            <p>Angular Prologue - A Responsive Portfolio Template</p>
        </footer>
    </div>
</div>
