<div class="container" scrollbar="scrollbar-macosx">
    <div class="home">
        <div class="banner">
            <div class="content">
                <header>
                    <h2>THIS IS <strong>SMOOTHIE</strong></h2>
                    <p>
                        A responsive portfolio website template for designers and developers.<br>
                        All information presented in this template is for demo purpose only.<br>
                        Designed and bulit by <a href="https://github.com/panteng" target="_blank">Chris Pan</a>.
                    </p>
                </header>
            </div>
        </div>

        <div class="circles">
            <ul class="ch-grid">
                <li>
                    <div class="ch-item ch-react">
                        <div class="ch-info">
                            <h3>React</h3>
                            <p>Playing with React is one of my biggest hobby.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-vuejs">
                        <div class="ch-info">
                            <h3>Vue.js</h3>
                            <p>I use Vue.js for most of my projects.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-webpack">
                        <div class="ch-info">
                            <h3>Webpack</h3>
                            <p>Webpack is my favourite buiding tool.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-es6">
                        <div class="ch-info">
                            <h3>ES 6</h3>
                            <p>ES 6 + Babel enables me to write ES6 in real life.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-sass">
                        <div class="ch-info">
                            <h3>Sass</h3>
                            <p>Sass saves tons of my time on writing CSS.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item ch-vscode">
                        <div class="ch-info">
                            <h3>VS Code</h3>
                            <p>VS Code is my main code editor.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <footer class="page-footer">
            <p>Smoothie - designed and bulit with love by Chris Pan</p>
        </footer>
    </div>
</div>
