<div class="container" scrollbar="scrollbar-macosx">
    <div class="works">
        <header class="title">
            <h2>Portfolio</h2>
        </header>
        <p class="instructions">
            Below are some fake projects for demo purpose.<br>
            For my real projects please check my <a href="https://github.com/panteng" target="_blank">GitHub</a> page.
        </p>

        <div class="projects" masonry>
            <div class="project">
                <a href="#" target="_blank">
                    <img src="https://source.unsplash.com/random/320x240">
                    <div class="intro">
                        <h2>Demo Project Name 1</h2>
                        <p>
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </a>
            </div>

            <div class="project">
                <a href="#" target="_blank">
                    <img src="https://source.unsplash.com/random/320x320">
                    <div class="intro">
                        <h2>Demo Project Name 2</h2>
                        <p>
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </a>
            </div>

            <div class="project">
                <a href="#" target="_blank">
                    <img src="https://source.unsplash.com/random/320x640">
                    <div class="intro">
                        <h2>Demo Project Name 3</h2>
                        <p>
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </a>
            </div>

            <div class="project">
                <a href="#" target="_blank">
                    <img src="https://source.unsplash.com/random/320x480">
                    <div class="intro">
                        <h2>Demo Project Name 4</h2>
                        <p>
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </a>
            </div>

            <div class="project">
                <a href="#" target="_blank">
                    <img src="https://source.unsplash.com/random/320x960">
                    <div class="intro">
                        <h2>Demo Project Name 5</h2>
                        <p>
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </a>
            </div>

            <div class="project">
                <a href="#" target="_blank">
                    <img src="https://source.unsplash.com/random/320x400">
                    <div class="intro">
                        <h2>Demo Project Name 6</h2>
                        <p>
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
